body{
  margin:0;
  padding:0;
  background-color:#23252C;
}

.card{
  width:18rem;
  margin:12px auto 0;
}

.card-body{
  background-color:#1A1B21;
  color:white;
}

.--card-title{
  color:green;
  font-size:2em;
  text-align:center;
  margin:5px 0px;
}

.--card-profession, .--card-site{
  text-align:center;
  margin:0px 0px;
  font-size:.8em;
}

.--card-site{
  margin-bottom:10px;
}

.--card-email{
  margin-bottom:20px;
}

.card  h2{
  font-size:1.5em;
}